
.box-1-dim{
    max-width: 600px;
    min-width: 250px;
    background-color: gray;
    padding: 5px;
    margin: 30px  auto;
    font-size: 12px;
}
.box-2-dim{
    max-width: 600px;
    min-width: 250px;
    background-color: gray;
    padding: 5px;
    margin: 30px  auto;
    font-size: 12px;



}
.box-3-dim{
    max-width: 600px;
    min-width: 250px;
    max-height: 300px;
    background-color: gray;
    padding: 5px;
    margin: 30px  auto;
    font-size: 12px;
}